{'author': 'Tobias Unsleber',
 'description': 'Monitoring for Chrony/NTP',
 'download_url': 'http://www.megabert.de/',
 'files': {'agents': ['plugins/chrony'],
           'checkman': [],
           'checks': ['chrony'],
           'pnp-templates': [],
           'web': []},
 'name': 'chrony',
 'num_files': 2,
 'title': 'Check Chrony NTP Time Status',
 'version': '%VERSION%',
 'version.min_required': '1.2.2p3',
 'version.packaged': '1.2.2p3'}
